In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

%matplotlib inline

# import the sklearn models 
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

#>> 100k sampples
from sklearn.linear_model import SGDClassifier
from sklearn.kernel_approximation import RBFSampler
from sklearn.linear_model import SGDClassifier

# Evaluation models
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import precision_score, recall_score, f1_score
from sklearn.metrics import RocCurveDisplay

In [2]:
application_data = pd.read_csv("dataset/application_data.csv")

In [5]:
subset1 = application_data.iloc[:, 0:20]
subset1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 20 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   SK_ID_CURR                  307511 non-null  int64
 1   TARGET                      307511 non-null  int64
 2   NAME_CONTRACT_TYPE          307511 non-null  object
 3   CODE_GENDER                 307511 non-null  object
 4   FLAG_OWN_CAR                307511 non-null  object
 5   FLAG_OWN_REALTY             307511 non-null  object
 6   CNT_CHILDREN                307511 non-null  int64
 7   AMT_INCOME_TOTAL            307511 non-null  float64
 8   AMT_CREDIT                  307511 non-null  float64
 9   AMT_ANNUITY                 307499 non-null  float64
 10  AMT_GOODS_PRICE             307233 non-null  float64
 11  NAME_TYPE_SUITE             306219 non-null  object
 12  NAME_INCOME_TYPE            307511 non-null  object
 13  NAME_EDUCATION_TYPE         307511 non-null  object
 14  NAME_FAMILY_STATUS          307511 non-null  object
 15  NAME_HOUSING_TYPE           307511 non-null  object
 16  REGION_POPULATION_RELATIVE  307511 non-null  float64
 17  DAYS_BIRTH                  307511 non-null  int64
 18  DAYS_EMPLOYED               307511 non-null  int64
 19  DAYS_REGISTRATION           307511 non-null  float64
dtypes: float64(6), int64(5), object(9)
memory usage: 46.9+ MB

In [6]:
subset1.isna().sum()

SK_ID_CURR                       0
TARGET                           0
NAME_CONTRACT_TYPE               0
CODE_GENDER                      0
FLAG_OWN_CAR                     0
FLAG_OWN_REALTY                  0
CNT_CHILDREN                     0
AMT_INCOME_TOTAL                 0
AMT_CREDIT                       0
AMT_ANNUITY                     12
AMT_GOODS_PRICE                278
NAME_TYPE_SUITE               1292
NAME_INCOME_TYPE                 0
NAME_EDUCATION_TYPE              0
NAME_FAMILY_STATUS               0
NAME_HOUSING_TYPE                0
REGION_POPULATION_RELATIVE       0
DAYS_BIRTH                       0
DAYS_EMPLOYED                    0
DAYS_REGISTRATION                0
dtype: int64

In [7]:
subset2 = application_data.iloc[:, 20:40]
subset2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 20 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   DAYS_ID_PUBLISH              307511 non-null  int64
 1   OWN_CAR_AGE                  104582 non-null  float64
 2   FLAG_MOBIL                   307511 non-null  int64
 3   FLAG_EMP_PHONE               307511 non-null  int64
 4   FLAG_WORK_PHONE              307511 non-null  int64
 5   FLAG_CONT_MOBILE             307511 non-null  int64
 6   FLAG_PHONE                   307511 non-null  int64
 7   FLAG_EMAIL                   307511 non-null  int64
 8   OCCUPATION_TYPE              211120 non-null  object
 9   CNT_FAM_MEMBERS              307509 non-null  float64
 10  REGION_RATING_CLIENT         307511 non-null  int64
 11  REGION_RATING_CLIENT_W_CITY  307511 non-null  int64
 12  WEEKDAY_APPR_PROCESS_START   307511 non-null  object
 13  HOUR_APPR_PROCESS_START      307511 non-null  int64
 14  REG_REGION_NOT_LIVE_REGION   307511 non-null  int64
 15  REG_REGION_NOT_WORK_REGION   307511 non-null  int64
 16  LIVE_REGION_NOT_WORK_REGION  307511 non-null  int64
 17  REG_CITY_NOT_LIVE_CITY       307511 non-null  int64
 18  REG_CITY_NOT_WORK_CITY       307511 non-null  int64
 19  LIVE_CITY_NOT_WORK_CITY      307511 non-null  int64
dtypes: float64(2), int64(16), object(2)
memory usage: 46.9+ MB

In [8]:
subset2.isna().sum()

DAYS_ID_PUBLISH                     0
OWN_CAR_AGE                    202929
FLAG_MOBIL                          0
FLAG_EMP_PHONE                      0
FLAG_WORK_PHONE                     0
FLAG_CONT_MOBILE                    0
FLAG_PHONE                          0
FLAG_EMAIL                          0
OCCUPATION_TYPE                 96391
CNT_FAM_MEMBERS                     2
REGION_RATING_CLIENT                0
REGION_RATING_CLIENT_W_CITY         0
WEEKDAY_APPR_PROCESS_START          0
HOUR_APPR_PROCESS_START             0
REG_REGION_NOT_LIVE_REGION          0
REG_REGION_NOT_WORK_REGION          0
LIVE_REGION_NOT_WORK_REGION         0
REG_CITY_NOT_LIVE_CITY              0
REG_CITY_NOT_WORK_CITY              0
LIVE_CITY_NOT_WORK_CITY             0
dtype: int64

In [10]:
subset3.isna().sum()

ORGANIZATION_TYPE                   0
EXT_SOURCE_1                   173378
EXT_SOURCE_2                      660
EXT_SOURCE_3                    60965
APARTMENTS_AVG                 156061
BASEMENTAREA_AVG               179943
YEARS_BEGINEXPLUATATION_AVG    150007
YEARS_BUILD_AVG                204488
COMMONAREA_AVG                 214865
ELEVATORS_AVG                  163891
ENTRANCES_AVG                  154828
FLOORSMAX_AVG                  153020
FLOORSMIN_AVG                  208642
LANDAREA_AVG                   182590
LIVINGAPARTMENTS_AVG           210199
LIVINGAREA_AVG                 154350
NONLIVINGAPARTMENTS_AVG        213514
NONLIVINGAREA_AVG              169682
APARTMENTS_MODE                156061
BASEMENTAREA_MODE              179943
dtype: int64

In [9]:
subset3 = application_data.iloc[:, 40:60]
subset3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 20 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   ORGANIZATION_TYPE            307511 non-null  object
 1   EXT_SOURCE_1                 134133 non-null  float64
 2   EXT_SOURCE_2                 306851 non-null  float64
 3   EXT_SOURCE_3                 246546 non-null  float64
 4   APARTMENTS_AVG               151450 non-null  float64
 5   BASEMENTAREA_AVG             127568 non-null  float64
 6   YEARS_BEGINEXPLUATATION_AVG  157504 non-null  float64
 7   YEARS_BUILD_AVG              103023 non-null  float64
 8   COMMONAREA_AVG               92646 non-null   float64
 9   ELEVATORS_AVG                143620 non-null  float64
 10  ENTRANCES_AVG                152683 non-null  float64
 11  FLOORSMAX_AVG                154491 non-null  float64
 12  FLOORSMIN_AVG                98869 non-null   float64
 13  LANDAREA_AVG                 124921 non-null  float64
 14  LIVINGAPARTMENTS_AVG         97312 non-null   float64
 15  LIVINGAREA_AVG               153161 non-null  float64
 16  NONLIVINGAPARTMENTS_AVG      93997 non-null   float64
 17  NONLIVINGAREA_AVG            137829 non-null  float64
 18  APARTMENTS_MODE              151450 non-null  float64
 19  BASEMENTAREA_MODE            127568 non-null  float64
dtypes: float64(19), object(1)
memory usage: 46.9+ MB

In [12]:
subset4.isna().sum()

YEARS_BEGINEXPLUATATION_MODE    150007
YEARS_BUILD_MODE                204488
COMMONAREA_MODE                 214865
ELEVATORS_MODE                  163891
ENTRANCES_MODE                  154828
FLOORSMAX_MODE                  153020
FLOORSMIN_MODE                  208642
LANDAREA_MODE                   182590
LIVINGAPARTMENTS_MODE           210199
LIVINGAREA_MODE                 154350
NONLIVINGAPARTMENTS_MODE        213514
NONLIVINGAREA_MODE              169682
APARTMENTS_MEDI                 156061
BASEMENTAREA_MEDI               179943
YEARS_BEGINEXPLUATATION_MEDI    150007
YEARS_BUILD_MEDI                204488
COMMONAREA_MEDI                 214865
ELEVATORS_MEDI                  163891
ENTRANCES_MEDI                  154828
FLOORSMAX_MEDI                  153020
dtype: int64

In [11]:
subset4 = application_data.iloc[:, 60:80]
subset4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 20 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   YEARS_BEGINEXPLUATATION_MODE  157504 non-null  float64
 1   YEARS_BUILD_MODE              103023 non-null  float64
 2   COMMONAREA_MODE               92646 non-null   float64
 3   ELEVATORS_MODE                143620 non-null  float64
 4   ENTRANCES_MODE                152683 non-null  float64
 5   FLOORSMAX_MODE                154491 non-null  float64
 6   FLOORSMIN_MODE                98869 non-null   float64
 7   LANDAREA_MODE                 124921 non-null  float64
 8   LIVINGAPARTMENTS_MODE         97312 non-null   float64
 9   LIVINGAREA_MODE               153161 non-null  float64
 10  NONLIVINGAPARTMENTS_MODE      93997 non-null   float64
 11  NONLIVINGAREA_MODE            137829 non-null  float64
 12  APARTMENTS_MEDI               151450 non-null  float64
 13  BASEMENTAREA_MEDI             127568 non-null  float64
 14  YEARS_BEGINEXPLUATATION_MEDI  157504 non-null  float64
 15  YEARS_BUILD_MEDI              103023 non-null  float64
 16  COMMONAREA_MEDI               92646 non-null   float64
 17  ELEVATORS_MEDI                143620 non-null  float64
 18  ENTRANCES_MEDI                152683 non-null  float64
 19  FLOORSMAX_MEDI                154491 non-null  float64
dtypes: float64(20)
memory usage: 46.9 MB

In [14]:
subset5.isna().sum()

FLOORSMIN_MEDI              208642
LANDAREA_MEDI               182590
LIVINGAPARTMENTS_MEDI       210199
LIVINGAREA_MEDI             154350
NONLIVINGAPARTMENTS_MEDI    213514
NONLIVINGAREA_MEDI          169682
FONDKAPREMONT_MODE          210295
HOUSETYPE_MODE              154297
TOTALAREA_MODE              148431
WALLSMATERIAL_MODE          156341
EMERGENCYSTATE_MODE         145755
OBS_30_CNT_SOCIAL_CIRCLE      1021
DEF_30_CNT_SOCIAL_CIRCLE      1021
OBS_60_CNT_SOCIAL_CIRCLE      1021
DEF_60_CNT_SOCIAL_CIRCLE      1021
DAYS_LAST_PHONE_CHANGE           1
FLAG_DOCUMENT_2                  0
FLAG_DOCUMENT_3                  0
FLAG_DOCUMENT_4                  0
FLAG_DOCUMENT_5                  0
dtype: int64

In [13]:
subset5 = application_data.iloc[:, 80:100]
subset5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 20 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   FLOORSMIN_MEDI            98869 non-null   float64
 1   LANDAREA_MEDI             124921 non-null  float64
 2   LIVINGAPARTMENTS_MEDI     97312 non-null   float64
 3   LIVINGAREA_MEDI           153161 non-null  float64
 4   NONLIVINGAPARTMENTS_MEDI  93997 non-null   float64
 5   NONLIVINGAREA_MEDI        137829 non-null  float64
 6   FONDKAPREMONT_MODE        97216 non-null   object
 7   HOUSETYPE_MODE            153214 non-null  object
 8   TOTALAREA_MODE            159080 non-null  float64
 9   WALLSMATERIAL_MODE        151170 non-null  object
 10  EMERGENCYSTATE_MODE       161756 non-null  object
 11  OBS_30_CNT_SOCIAL_CIRCLE  306490 non-null  float64
 12  DEF_30_CNT_SOCIAL_CIRCLE  306490 non-null  float64
 13  OBS_60_CNT_SOCIAL_CIRCLE  306490 non-null  float64
 14  DEF_60_CNT_SOCIAL_CIRCLE  306490 non-null  float64
 15  DAYS_LAST_PHONE_CHANGE    307510 non-null  float64
 16  FLAG_DOCUMENT_2           307511 non-null  int64
 17  FLAG_DOCUMENT_3           307511 non-null  int64
 18  FLAG_DOCUMENT_4           307511 non-null  int64
 19  FLAG_DOCUMENT_5           307511 non-null  int64
dtypes: float64(12), int64(4), object(4)
memory usage: 46.9+ MB

In [16]:
subset6.isna().sum()

FLAG_DOCUMENT_6                   0
FLAG_DOCUMENT_7                   0
FLAG_DOCUMENT_8                   0
FLAG_DOCUMENT_9                   0
FLAG_DOCUMENT_10                  0
FLAG_DOCUMENT_11                  0
FLAG_DOCUMENT_12                  0
FLAG_DOCUMENT_13                  0
FLAG_DOCUMENT_14                  0
FLAG_DOCUMENT_15                  0
FLAG_DOCUMENT_16                  0
FLAG_DOCUMENT_17                  0
FLAG_DOCUMENT_18                  0
FLAG_DOCUMENT_19                  0
FLAG_DOCUMENT_20                  0
FLAG_DOCUMENT_21                  0
AMT_REQ_CREDIT_BUREAU_HOUR    41519
AMT_REQ_CREDIT_BUREAU_DAY     41519
AMT_REQ_CREDIT_BUREAU_WEEK    41519
AMT_REQ_CREDIT_BUREAU_MON     41519
AMT_REQ_CREDIT_BUREAU_QRT     41519
AMT_REQ_CREDIT_BUREAU_YEAR    41519
dtype: int64

In [15]:
subset6 = application_data.iloc[:, 100:122]
subset6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 22 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   FLAG_DOCUMENT_6             307511 non-null  int64
 1   FLAG_DOCUMENT_7             307511 non-null  int64
 2   FLAG_DOCUMENT_8             307511 non-null  int64
 3   FLAG_DOCUMENT_9             307511 non-null  int64
 4   FLAG_DOCUMENT_10            307511 non-null  int64
 5   FLAG_DOCUMENT_11            307511 non-null  int64
 6   FLAG_DOCUMENT_12            307511 non-null  int64
 7   FLAG_DOCUMENT_13            307511 non-null  int64
 8   FLAG_DOCUMENT_14            307511 non-null  int64
 9   FLAG_DOCUMENT_15            307511 non-null  int64
 10  FLAG_DOCUMENT_16            307511 non-null  int64
 11  FLAG_DOCUMENT_17            307511 non-null  int64
 12  FLAG_DOCUMENT_18            307511 non-null  int64
 13  FLAG_DOCUMENT_19            307511 non-null  int64
 14  FLAG_DOCUMENT_20            307511 non-null  int64
 15  FLAG_DOCUMENT_21            307511 non-null  int64
 16  AMT_REQ_CREDIT_BUREAU_HOUR  265992 non-null  float64
 17  AMT_REQ_CREDIT_BUREAU_DAY   265992 non-null  float64
 18  AMT_REQ_CREDIT_BUREAU_WEEK  265992 non-null  float64
 19  AMT_REQ_CREDIT_BUREAU_MON   265992 non-null  float64
 20  AMT_REQ_CREDIT_BUREAU_QRT   265992 non-null  float64
 21  AMT_REQ_CREDIT_BUREAU_YEAR  265992 non-null  float64
dtypes: float64(6), int64(16)
memory usage: 51.6 MB

In [18]:
remove_columns = []

In [24]:
perfect_columns = []

In [25]:
objectsc = []
missingdata = []

In [27]:
objectcolumns = application_data.select_dtypes('object').columns
objectcolumns

Index(['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY',
       'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE',
       'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE',
       'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE', 'FONDKAPREMONT_MODE',
       'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE'],
      dtype='object')

In [28]:
Integercolumns = application_data.select_dtypes('int64').columns
Integercolumns

Index(['SK_ID_CURR', 'TARGET', 'CNT_CHILDREN', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
       'DAYS_ID_PUBLISH', 'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE',
       'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL', 'REGION_RATING_CLIENT',
       'REGION_RATING_CLIENT_W_CITY', 'HOUR_APPR_PROCESS_START',
       'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION',
       'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY',
       'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY', 'FLAG_DOCUMENT_2',
       'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5',
       'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8',
       'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11',
       'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14',
       'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17',
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21'],
      dtype='object')

In [29]:
floatcolumns = application_data.select_dtypes('float64').columns
floatcolumns

Index(['AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE',
       'REGION_POPULATION_RELATIVE', 'DAYS_REGISTRATION', 'OWN_CAR_AGE',
       'CNT_FAM_MEMBERS', 'EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3',
       'APARTMENTS_AVG', 'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG',
       'YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'ELEVATORS_AVG', 'ENTRANCES_AVG',
       'FLOORSMAX_AVG', 'FLOORSMIN_AVG', 'LANDAREA_AVG',
       'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG',
       'NONLIVINGAREA_AVG', 'APARTMENTS_MODE', 'BASEMENTAREA_MODE',
       'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE', 'COMMONAREA_MODE',
       'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE',
       'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE',
       'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI',
       'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI',
       'COMMONAREA_MEDI', 'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMAX_MEDI',
       'FLOORSMIN_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI',
       'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI',
       'TOTALAREA_MODE', 'OBS_30_CNT_SOCIAL_CIRCLE',
       'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE',
       'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE',
       'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY',
       'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON',
       'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object')

In [33]:
# columns with no missing value and not object as a datatype
draft1 = ['CNT_CHILDREN','AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE',
         'REGION_POPULATION_RELATIVE','DAYS_BIRTH', 'DAYS_EMPLOYED','DAYS_REGISTRATION',
         'DAYS_ID_PUBLISH','OWN_CAR_AGE','FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE',
         'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL','REGION_RATING_CLIENT',
       'REGION_RATING_CLIENT_W_CITY', 'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION',
       'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY',
       'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY','DAYS_LAST_PHONE_CHANGE','FLAG_DOCUMENT_2',
       'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5',
       'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8',
       'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11',
       'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14',
       'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17',
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21']


draft1missing = ['AMT_ANNUITY', 'AMT_GOODS_PRICE', 'NAME_TYPE_SUITE', 'OWN_CAR_AGE', 'OCCUPATION_TYPE',]


draft1transform = ['NAME_CONTRACT_TYPE',  'FLAG_OWN_CAR', 'FLAG_OWN_REALTY','NAME_TYPE_SUITE', 'NAME_INCOME_TYPE',
                   'NAME_EDUCATION_TYPE','NAME_FAMILY_STATUS',
                  'NAME_HOUSING_TYPE','OCCUPATION_TYPE','ORGANIZATION_TYPE',]